<div class="grid justify-content-center mt-8">
    
    <div class="col-12 md:col-6 animate__animated animate__backInDown">
        <p-card>
            <div class="flex justify-content-center flex-wrap mb-2">
                <img src="assets/logo.png" class="img-inicio">
            </div>

            <!--Formulario-->
            <div class="flex justify-content-center flex-wrap">
                <form 
                autocomplete="off"
                [formGroup]="loginBasico"
                (ngSubmit)="iniciarSesion()">
                    <!--Ingresar Correo-->
                    <div class="grid">
                        <div class="col-12 flex align-items-center justify-content-center">
                            <input type="text" pInputText placeholder="Correo electrónico" formControlName="email">
                        </div>
                        <!--Mensaje: Usuario inexistente-->
                        <div class="col-12 flex align-items-center justify-content-center">
                            <span class="p-error" *ngIf="false">
                                El correo no existe.
                            </span>
                        </div>
                    </div>
                    <!--Ingresar Contraseña-->
                    <div class="grid">
                        <div class="col-12 flex align-items-center justify-content-center">
                            <input type="password" pInputText placeholder="Contraseña" formControlName="password">
                        </div>
                        <!--Recuperar Contraseña-->
                        <div class="col-12 flex align-items-center justify-content-center">
                            <span (click)="mostrarDialog2()">
                                Recuperar Contraseña
                            </span>
                        </div>
                        <!--Mensaje: Usuario inexistente-->
                        <div class="col-12 flex align-items-center justify-content-center">
                            <span (click)="mostrarDialog1()">
                                Crear Usuario
                            </span>
                        </div>
                        
                        <!-- Iniciar sesión -->                        
                        <div class="col-12 flex align-items-center justify-content-center">
                            <button pButton pRipple type="submit" label="Iniciar sesión"></button>
                        </div>
                    </div>
                </form>
            </div>
        </p-card>
    </div>
</div>


<!--Dialog Usuario-->
<p-dialog header="Creando Usuario" [(visible)]="display1" [style]="{width: '25vw'}" [baseZIndex]="10000">

    <form [formGroup]="nuevoUsuario" (ngSubmit)="crearUsuario()" autocomplete="off">

        <div class="grid">

            <div class="col-12 md:col-12 p-inputgroup">
                <span>Muchas gracias por querer probar mi aplicación.</span>
            </div>


            <div class="col-12 md:col-12 p-inputgroup">
                <input type="text" pInputText placeholder="Ingresar correo" formControlName="email">
            </div>

            <div class="col-12 md:col-12 p-inputgroup">
                <input type="password" pInputText placeholder="Ingresar password" formControlName="password1">
            </div>

            <div class="col-12 md:col-12 p-inputgroup">
                <input type="password" pInputText placeholder="Confirmar password" formControlName="password2">
            </div>

            <div class="col-12 md:col-12 p-inputgroup justify-content-end">
                <button pButton pRipple type="submit" label="Crear" class="p-button-success"></button>
            </div>
        </div>        

    </form>

</p-dialog>

<!--Dialog Recuperar Clave-->
<p-dialog header="Recuperando Clave" [(visible)]="display2" [style]="{width: '25vw'}" [baseZIndex]="10000">

    <form [formGroup]="restClave" (ngSubmit)="recuperarClave()" autocomplete="off">

        <div class="grid">


            <div class="col-12 md:col-12 p-inputgroup">
                <span>Una vez ingresado el email y de dar click en recuperar, verifica tu correo.</span>
            </div>

            <div class="col-12 md:col-12 p-inputgroup">
                <input type="text" pInputText placeholder="Ingresar email" formControlName="email">
            </div>

            

            <div class="col-12 md:col-12 p-inputgroup justify-content-end">
                <button pButton pRipple type="submit" label="Recuperar" class="p-button-success"></button>
            </div>
        </div>        

    </form>

</p-dialog>