<div class="flex justify-content-center">
    <h1>Registrar Clientes</h1>
</div>


<form autocomplete="off" [formGroup]="registroCliente" (ngSubmit)="guardar()">
    
    <div class="grid justify-content-center"> <!-- GRID - CONTENEDOR CENTRADO -->

        <div class="col-12 md:col-8"> 

            <p-card>
                <div class="grid"> <!-- GRID - CONTENEDOR ANIDADO -->
                    <div class="col-12 md:col-6">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input type="text" pInputText placeholder="Nombre" formControlName="nombre">         
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input type="text" pInputText placeholder="Apellido" formControlName="apellido">         
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input type="number" pInputText placeholder="Edad" formControlName="edad">         
                        </div>
                    </div>
                    <div class="col-12 md:col-6">                        
                        <div class="p-grid p-fluid">
                            <div class="p-col-12 p-md-6">
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" inputId="navigators" [showIcon]="true" formControlName="fNacimiento" dateFormat="dd/mm/yy"></p-calendar> 
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input type="text" pInputText placeholder="Documento / Pasaporte" formControlName="dniPasaporte">         
                        </div>
                    </div>
        
                    <div class="col-12 md:col-6">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-globe"></i></span>
                            <input type="text" pInputText placeholder="Nacionalidad" formControlName="nacionalidad">         
                        </div>
                    </div>
                    
                    <div class="col-12 md:col-3">
                        <div class="p-grid p-fluid">
                            <div class="p-col-12 p-md-6">
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" inputId="navigators" [showIcon]="true" formControlName="fIngreso" dateFormat="dd/mm/yy"></p-calendar> 
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-3">
                        <div class="p-grid p-fluid">
                            <div class="p-col-12 p-md-6">
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2030" inputId="navigators" [showIcon]="true" formControlName="fPartida" dateFormat="dd/mm/yy"></p-calendar> 
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-3">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input type="text" pInputText placeholder="Sexo" formControlName="sexo">         
                        </div>
                    </div>
                    <div class="col-12 md:col-3">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                            <input type="text" pInputText placeholder="Correo electrónico" formControlName="email">         
                        </div>
                    </div>

                    <!--BOTÓN GUARDAR CLIENTE-->
                    <div class="col-12 md:col-12 flex justify-content-end">
                        <button pButton type="submit" label="Guardar" class="p-button-success mt-4"></button>
                    </div>
                </div>    
            </p-card>

        </div>

    </div>

</form>