<!-- <app-menubar></app-menubar>

<br>
<br> -->

<!-- LOGIN/REGISTRO -->
<div class="grid flex justify-content-center flex-wrap">

    
        <p-card class="col-12 md:col-5">

            <!--Usuario-->
            <div class="flex align-items-center justify-content-center mb-4">                
                <input type="text" pInputText placeholder="Usuario"/>
            </div>
            <!--Contraseña-->
            <div class="flex align-items-center justify-content-center mb-4">
                <input type="text" pInputText placeholder="Contraseña"/>
            </div>

            <!--Recuperar contraseña-->
            <div class="flex align-items-center justify-content-center mb-4">
                <span>¿Olvidaste la contraseña?</span>
            </div>

            <!--Botón Ingresar-->
            <div class="flex align-items-center justify-content-center mb-4">
                <button pButton type="button" label="Ingresar" class="p-button-success"></button>
            </div>           
            

        </p-card>

        
    

</div>




